{{ define "main" }}
{{ $caller := . }}
<main class="page-main pa4 center" role="main">
  <section class="blog-intro mw8 center tc mb5">
    <h2 class="f2 f1-ns lh-solid center fw4">{{ .Title }}</h2>
    <p class="f6 f5-ns measure lh-copy center">{{ .Description }}</p>
  </section>
  <div class="blog-content db w-100 pa4 center">
    <div class="flex-ns flex-row-ns flex-wrap-ns items-start mw8">
      {{ range $.Site.Data.members }}
        {{ range . }}
          {{ partial "member.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  
  <div class="blog-content db w-100 pa4 center">
    <h2 id="alumni" class="pv4">Alumni</h2>
    <div class="flex-ns flex-row-ns flex-wrap-ns items-start">
      {{ range $.Site.Data.alumni }}
        {{ range . }}
          {{ partial "member.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>

<section class="mw7 center tj mb5">
{{ partial "joining.html" .}}
</section>
</main>
{{ end }}
